.skills {
    background:rgb(10, 9, 9);
    padding: 25px 0;
}
.skills-container{
    width: 90%;
    margin: 0 auto;
}
.skills-grids{
    display: flex;
    gap: 20px;
}
.skill-items {
    background: green;
    border: 1px solid #f8f8f8;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.skill-items:hover {
    transform: translateY(-5px); /* Légère élévation au survol */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au survol */
}
.skill-icon {
    color: #f8f8f8;
    width: 50px; 
    height: 50px;
    
}
.skill-name {
    font-size: 2rem;
    font-weight: bold;
    color: #f8f8f8; /* Couleur du titre de la compétence (bleu) */
}

.skill-description {
    font-size: 1.2rem;
    color: #f8f8f8;
    line-height: 1.2;
}

@media (min-width: 320px) and (max-width: 768px) {
.skills-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.skills-grids {
   display: flex;
   flex-direction: column;
}
.skill-name {
    font-size: 1.5rem;
    margin-top: 10px;
}
.skill-description {
    font-size: 1rem;
}
.skill-icon {
    width: 40px;
    height: 40px;
}
}