.introduce-me {
    min-height: 95vh;
    background: #0a0a0a;
    color: white;
    position: relative;
}
.introduce-title {
    text-align: center;
    padding: 8% 0 0;
    margin: 0 auto;
    font-size: 3rem;
    font-weight: bold;
    color: green;
}
.introduce-subtitle {
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
}
.introduce-description {
    padding: 40px 0;
    text-align: center;
    margin: 0 auto;
    font-size: 1.2rem;
}
.button-container {
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.button-style {
    font-size: 1.1rem;
}
button {
    gap: 20px;
    padding: 10px 20px;
    
    font-size: 5rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: #f8f8f8;
}
button:hover {
    background-color: green;
}

@media (min-width: 320px) and (max-width: 768px) {
.introduce-me {
    min-height: 0;
}
.introduce-title {
    font-size: 1.7rem;
}
.introduce-subtitle {
    padding-top: 10px;
    font-size: 1.5rem;
}
.introduce-description {
    font-size: 1rem;
    padding: 20px ;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.button-style {
    font-size: 1rem;
    width: 200px;
}

}